1) Importing pandas

In [4]:

import pandas as pd

2) Opening a local csv file

In [7]:

df = pd.read_csv('E:\pythonWorkspace\excelFiles\cgpaPkg.csv') #if in same folder, just write the name else give whole path
df

   cgpa  iq  package  age
0   8.2  50        1   22
1   9.3   2        0   25
2   6.4  90        1   24
3   7.2  30        1   21
4   6.2  80        1   23
5   7.3   4        0   21
6   8.3   7        0   22
7   9.3   9        0   23
8   5.2  90        1   25

3) Opening  a csv file from an URL

In [13]:

import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv") #small line of code
data

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

4. Sep parameter

In [ ]:
pd.read_csv('file_name.tsv',sep='\t',name=['id','name','and all'])
# tsv file converted into tab seprated, by using name gave header name

5. Index_col parameter

In [ ]:

pd.read_csv('aug_train.csv',index_col='enrollee_id') #if there are 2 indexs 1 is by default and 1 provided by us the can use this

6. Header parameter

In [ ]:
pd.read_csv('test.csv',header=1) #if u don,t hv col name OR col name is treating as row then can use this

7) use_cols parameter

In [ ]:
pd.read_csv('aug_train.csv',usecols=['enrollee_id','gender','education_level'])
# while importig only can mention which cols we want rather than dropping later on

8. squeeze parameter

In [ ]:
pd.read_csv('aug_train.csv',usecols=['gender'],squeeze=True)
#when want only 1 col, and squeeze  == True it will series not dataframe

9. skiperows/nrows parameter

In [ ]:
pd.read_csv('aug_train.csv',skiprows=[0,5]) 
pd.read_csv('aug_train.csv',nrows=100) #nrows to restrics to show only mentioned num of rows

10. Encoding parameter

In [ ]:
pd.read_csv('cgpaPkg.csv',encoding='latin-1') #some file doesn't contain ult-8 in info, to overcome that

11.  bad lines

In [ ]:
pd.read_csv("file_name.csv",error_bad_lines=False)

12. dtypes parameter

In [ ]:
pd.read_csv("file_name.csv",dtype=('target':int)).info()#to cpvert datatypes

13. handling Dates (object mns str in pandas)

In [ ]:

pd.read_csv('',parse_dates=['date']).info()
# combine data.month and day in one col

14. #convereters

In [ ]:
def rename(name):
    if name == 'royal challengers banglore':
        return 'RCB'
else:
    return name
rename('royal challengers banglore')
# to apply transformation on dataset

pd.read_csv('',converters={'team1':rename})

15. na_values parameter

In [ ]:

#to make it empty can use na_
pd.read_csv('',na_values=['male'])#can make multiple by comma

16. loading a huge dataset in chunks

In [ ]:

pd.read_csv('',chunksize=5000) #split in small(mentioned number's) shape)

for chunks in dfs:
    print(chunk,shape)

In [11]:
!pip install requests

Collecting requests
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
                                              0.0/62.6 kB ? eta -:--:--
     ---------------------------------------- 62.6/62.6 kB 3.3 MB/s eta 0:00:00
Collecting charset-normalizer<4,>=2 (from requests)
  Downloading charset_normalizer-3.1.0-cp311-cp311-win_amd64.whl (96 kB)
                                              0.0/96.7 kB ? eta -:--:--
     ---------------------------------------- 96.7/96.7 kB 2.8 MB/s eta 0:00:00
Collecting idna<4,>=2.5 (from requests)
  Using cached idna-3.4-py3-none-any.whl (61 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Downloading urllib3-2.0.3-py3-none-any.whl (123 kB)
                                              0.0/123.6 kB ? eta -:--:--
     -------------------------------------  122.9/123.6 kB 3.6 MB/s eta 0:00:01
     -------------------------------------- 123.6/123.6 kB 2.4 MB/s eta 0:00:00
Collecting certifi>=2017.4.17 (from requests)
  Downloading certifi-2023.5.7-py3-none-any.whl (156 kB)
                                              0.0/157.0 kB ? eta -:--:--
     ---------------------------            112.6/157.0 kB 3.3 MB/s eta 0:00:01
     -------------------------------------- 157.0/157.0 kB 2.3 MB/s eta 0:00:00
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2023.5.7 charset-normalizer-3.1.0 idna-3.4 requests-2.31.0 urllib3-2.0.3